body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url('./img/background_moba_x2.png');
    background-size: cover;
    overflow: scroll;
    background-repeat: no-repeat;

  }
  #canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    overflow: scroll;
  }

  .ipsum {
    color: rgb(219, 47, 219);
    font-size: 45px;
  }

  


  